.navbar-custom {
    background-color:#A6002E;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}

/*c */

.md-topbar {
  background-color: white;
  color: #58666e;
}
.md-topbar a {
  color: #363f44;
}
.md-topbar a:hover {
  color: #1f2427;
}
.md-topbar .text-muted {
  color: #98a6ad !important;
}
.md-topbar .lt,
.md-topbar .lter,
.md-topbar .dk,
.md-topbar .dker {
  background-color: white;
}
.md-sidebar-top {
  background-color: white;
  color: #58666e;
}
.md-sidebar-top a {
  color: #363f44;
}
.md-sidebar-top a:hover {
  color: #1f2427;
}
.md-sidebar-top .text-muted {
  color: #98a6ad !important;
}
.md-sidebar-top .lt,
.md-sidebar-top .lter,
.md-sidebar-top .dk,
.md-sidebar-top .dker {
  background-color: white;
}
.md-sidebar {
  background-color: #1a364c;
  color: #719ec1;
}
.md-sidebar.lt,
.md-sidebar .lt {
  background-color: #142838;
}
.md-sidebar.lter,
.md-sidebar .lter {
  background-color: #0e1b25;
}
.md-sidebar.dk,
.md-sidebar .dk {
  background-color: #13293a;
}
.md-sidebar.dker,
.md-sidebar .dker {
  background-color: #0c1b27;
}
.md-sidebar.bg,
.md-sidebar .bg {
  background-color: #1a364c;
}
.md-sidebar a {
  color: #719ec1;
}
.md-sidebar a:hover {
  color: white;
}
.md-sidebar a.list-group-item:hover,
.md-sidebar a.list-group-item:focus {
  background-color: inherit;
}
.md-sidebar .nav > li:hover > a,
.md-sidebar .nav > li:focus > a,
.md-sidebar .nav > li.active > a {
  color: white;
  background-color: #13293a;
}
.md-sidebar .nav > li > a {
  color: #83aac9;
}
.md-sidebar .nav > li > a:hover,
.md-sidebar .nav > li > a:focus {
  background-color: #152e42;
}
.md-sidebar .nav .open > a {
  background-color: #13293a;
}
.md-sidebar .caret {
  border-top-color: #719ec1;
  border-bottom-color: #719ec1;
}
.md-sidebar.navbar .nav > li.active > a {
  color: white;
  background-color: #13293a;
}
.md-sidebar .open > a,
.md-sidebar .open > a:hover,
.md-sidebar .open > a:focus {
  color: white;
}
.md-sidebar .text-muted {
  color: #4e85b1 !important;
}
.md-sidebar .text-lt {
  color: #cadbe8 !important;
}
.md-sidebar.auto .list-group-item,
.md-sidebar .auto .list-group-item {
  border-color: #142939 !important;
  background-color: transparent;
}
.md-sidebar.auto .list-group-item:hover,
.md-sidebar .auto .list-group-item:hover,
.md-sidebar.auto .list-group-item:focus,
.md-sidebar .auto .list-group-item:focus,
.md-sidebar.auto .list-group-item:active,
.md-sidebar .auto .list-group-item:active,
.md-sidebar.auto .list-group-item.active,
.md-sidebar .auto .list-group-item.active {
  background-color: #13293a !important;
}
body {
    background-color: #e5e9ea;
}
.logo-1x1 { 
  background-image: url('logo1x1.svg'); 
}
.logo-4x1 { 
  background-image: url('logo4x1.svg'); 
}

.btn-custom  {
    border:0px solid transparent;
}
.event-image {
    width: 125px;
    height: 155px;
}